{% load static %} <!--подгружаем статику css, js, img-->
{% load women_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'women/css/style.css' %}" /> 
    <link rel="shortcut icon" href="{% static 'women/images/main.png' %}" type="image/x-icon"/>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class='welcome'>
        <div class='menu-content'>
            <ul class='menu-list'>
                {% for elem in menu %}
                    <li class='menu-list-item'>
                        <a class='menu-link' href='{% url elem.link %}'>{{ elem.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    <h1 class='head-title'>{{ title }}</h1>
    </header>
    
    <div class="page">
        <main class="column-content">
            {% block content %}

            {% endblock content %}
        </main>

        <aside class="sidebar">
            <ul>
                <li><a href={% url 'home' %}>ВСЕ КАТЕГОРИИ</a></li>
                <hr><br>
                {% show_cat cat_selected %}
                <br><br>
                <li><a href={% url 'home' %}>ТЕГИ</a></li>
                <hr><br>
                {% show_tag tag_selected %}
            </ul>
        </aside>
    </div>
</body>

</html>