{% if page_obj.has_other_pages %}
    {% if page_obj.has_previous %}
        <a class='button' href='?page=1'>&laquo;&laquo; first</a>
        <a class='button' href='?page={{ page_obj.previous_page_number }}'>&laquo; prev</a>
    {% else %}
        <a class='button' style="color:silver">&laquo;&laquo; first</a>
        <a class='button' style="color:silver">&laquo; prev</a>
    {% endif %}
        <a class='button' href=''>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    {% if page_obj.has_next %}
        <a class='button' href='?page={{ page_obj.next_page_number }}'>next &raquo;</a>
        <a class='button' href='?page={{ page_obj.paginator.num_pages }}'>last&raquo;&raquo;</a>
    {% else%}
        <a class='button' style="color:silver">next &raquo;</a>
        <a class='button' style="color:silver">last&raquo;&raquo;</a>
    {% endif %}
{% endif%}